apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- odh-operator-subscription.yaml
# Seldon CRD should exist on OCP3 and OCP4
# Uncomment if you install in your own OCP (e.g. CRC)
# - seldon-deployment-crd.yaml